@using WizWebComponents.Layout

<a href="@(href)" style="display: inline-block; height: fit-content; width: fit-content; text-decoration: none; color: aliceblue;" @attributes="SplatAttributes">
  <Card style="width: max-content; height: min-content; display: flex;">
    <div style="@iconStyle"></div>
    @ChildContent
  </Card>
</a>