<!--
<div @attributes="SplatAttributes" class="search-container">
  <input popovertarget="search-popover" class="wiz-search" type="search" @onfocusin="SearchBar_OnFocusIn" @oninput="SearchBar_OnInput" @onfocusout="SearchBar_OnFocusOut"/>
  <div popover id="search-popover" class="results-flyout">
    @foreach (var item in results)
    {
       <a href="/@(item.TypeQuery)/@(item.Id)">@(item.Title)</a>
    }
  </div>
</div>
-->