<div>
  <p>Hi</p>
  <InputFile accept="@Accept" OnChange="Input_OnChange" multiple />
  <OtaKuma.Client.Components.Collections.Gallery BrowserFiles="BrowserFiles" style="height: 100%; width: 100%;"/>
  <img @ref="previewImageElem" />
</div>