<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WuhEatz.styles.css" />
    <link rel="stylesheet" href="styles/components-dark.css" />
    <link rel="icon" href="images/wuh.webp" />
    <link rel="alternate" type="application/json+oembed"
        href="https://wuheatz.ca/services/oembed/?format=json&url=https://wuheatz.ca/"
        title="EuhEatz.ca!!!" />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/CookieAccessor.js"></script>
    <script>
      window.ShowRootPopover = function() {
        document.getElementById('media-popover').showPopover();
      }
    </script>
</body>

</html>
