@page "/"
@using WizWebComponents.Data
@using WizWebComponents.Layout
@using WizWebComponents.Collections
@using WizWebComponents.Buttons

<PageTitle>Wuh Eatz!!</PageTitle>

<div style="display: flex; flex-direction: column; margin-top: 4rem; align-items: center;">
  @if (TwitchService!.DenpaStats.IsLive)
  {
    <h1 class="wiz-font-display" style="width: 100%; margin: 6px; text-align: center; color: white;">Denpa is live!!</h1>
    <div style="align-self: center; aspect-ratio: 16/9; height: max-content; width: max-content; max-width: 95%; max-height: 40rem;">
      <iframe src="@("https://player.twitch.tv/?channel=marimari_en&parent=" + Nav?.BaseUri.Replace("https://", "").Replace("http://", "").Replace("/", ""))" height="1080" width="1920" frameborder="0" allowfullscreen="true" scrolling="no" style="max-width: 100%; max-height: 100%; border-radius: 10px;"></iframe>
    </div>
  }
  else {
    <h1 Size="Title-L" style="width: 100%; text-align: center;">Welcome to Wuh Eatz!</h1>
    <img src="images/wuh.webp" style="align-self: center; width: 200px;"/>
    <h1 Size="Subtitle" style=" width: 100%; text-align: center;">Wuh loves to eatz!</h1>
  }
  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <WizNavLink icon="https://static-cdn.jtvnw.net/jtv_user_pictures/64494c5f-29d5-4cfd-8188-fbbe3c62fbfd-profile_image-300x300.png" , href="https://streamlabs.com/denpafish/home"><Text Size="Title">Give to Denpa</Text></WizNavLink>
    <WizNavLink icon="images/TwitchGlitchPurple.svg" href="https://www.twitch.tv/denpafish"><h2 class="wiz-font-title">Denpa Streams</h2></WizNavLink>
    <WizNavLink icon="images/yt_logo.svg" href="https://www.youtube.com/channel/UCW13PfvXyHeUnRbX6rEkebw"><h2 class="wiz-font-title">Denpa Vids</h2></WizNavLink>
  </div>

  <Card style="align-self: center; width: 70rem; max-width: calc(100% - 40px);">
    <Text Size="Title" style="margin-left: 20px;">A Few Things Wuh Likes To Eatz:</Text>
    <Gallery Uris="@(new string[] { "images/Food/pickle.png", "images/Food/Bunger.png", "images/Food/chamoy.png", "images/Food/DenTummy.jpg"})" Size="20rem" />
  </Card>

  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <WizNavLink href="https://discord.gg/3aDvdZzgUJ" icon="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/636e0a6ca814282eca7172c6_icon_clyde_white_RGB.svg"><h2 class="wiz-font-title">Go to the Denplanet!</h2></WizNavLink>
    <WizNavLink href="https://twitter.com/denpafish" icon="https://about.x.com/content/dam/about-twitter/x/brand-toolkit/logo-black.png.twimg.1920.png"><h2 class="wiz-font-title">She Says Some Shit</h2></WizNavLink>
  </div>

  <Card style="align-self: center; width: 50rem; max-width: calc(100% - 40px); display: flex; flex-direction: column; align-items: center">
    <Text Size="Title" style="margin-left: 20px;">Masterchef Wuh invites you to the bistro!!</Text>
    <img src="images/masterchef.jpg" style="width:20rem; align-self: center;" />
    <WizNavLink href="/bistro">
      <Text Size="Subtitle">
        Let's look at the menu!!
      </Text>
    </WizNavLink>
  </Card>
</div>