@inherits LayoutComponentBase
@using WizWebComponents.Layout
@using WizWebComponents.Data
@using WizWebComponents.Buttons

<div style="position: fixed; top: 0px; /*box-shadow: 1px 1px 3px #55555573; backdrop-filter: blur(5px);*/ width: 100%; z-index:1000; display: flex;">
  <WizNavLink href="/#top" icon="/images/wuh.webp">
    <Text Size="Title">Wuh Eatz</Text>
  </WizNavLink>
</div>

@Body

<Card>
  <Text Size="Subtitle">This is a fan site, not owned by Denpafish</Text>
  <div style="display: flex;">
  </div>
</Card>
<RootMediaPopover />
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<WuhEatz.Client.WASMActivator />